<h1>Current Pilots</h1>
<button (click)="this.pilotService.adminMode()">Toggle Admin Mode</button>

<select (change)="onChange($event.target.value)">
  <option value="all" selected="selected">All Pilots</option>
  <option value="250">250g Class</option>
  <option value="500">500g Class</option>
  <option value="750" >750g Class</option>
</select>

<ul>
  <li *ngFor="let pilot of pilots | weight:weightSelected" (click)="goToDetailPage(pilot)"><a>{{pilot.name}} | {{pilot.weightClass}}g | {{pilot.frequency}}Mhz</a></li>
</ul>

<div *ngIf="this.pilotService.isAdmin">
  <h3>Register A New Pilot</h3>
  <div>
    <label>Pilot Name:</label>
    <br>
    <input #name>
  </div>

  <div>
    <label>Drone Weight Class:</label>
    <br>
    <select #weight>
      <option value="250">Ultra Light: 250g</option>
      <option selected="selected" value="500">Standard: 500g</option>
      <option value="750">Large Build: < 750g</option>
    </select>
  </div>

  <div>
    <label>Assign 5.8Ghz Frequency:</label>
    <br>
    <input #frequency>
  </div>
  <button (click)="submitForm(name.value, weight.value, frequency.value); name.value=''; weight.value=''; frequency.value=''">Add</button>
</div>
